/* 
body be red hat display
cal sans br for headings 

To Do's: Hover animation and effect on links
import ion icon
use sass for the popup type shi
*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --very-dark-grey: #222831;
  --dark-slate-grey: #393e46;
  --warm-grey: #948979;
  --warm-beige: #dfd0b8;
  --white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--very-dark-grey);
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  height: 100%;
  padding: 2rem;
  /* background: #636fff; */
}

header {
  text-align: center;
  background-color: var(--dark-slate-grey);
  border: 1px solid var(--warm-grey);
  border-radius: 40px;
  margin: 2rem;
  padding: 2rem;
}

header h1 {
  font-size: 4rem;
  color: var(--white);
}

header span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

select {
  padding: 10px;
  margin: 20px;
  border: 1px solid var(--warm-grey);
  border-radius: 5px;
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 60px 60px 60px 100px;
  min-height: 50dvh /*100dvh*/;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  background-color: var(--dark-slate-grey);
  border-radius: 40px;
  margin: 2rem;
  border: 1px solid var(--warm-grey);
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  /* border: 1px solid #000; */
  width: 300px;
  aspect-ratio: 1/1;
  color: var(--white);
  border-radius: 20px;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03),
    0 22.3px 17.9px rgba(0, 0, 0, 0.05);
}

a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--very-dark-grey);
  border-radius: 20px 20px 0 0;
  text-align: center;
  border: 2px solid var(--warm-beige);
}

.view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: var(--dark-slate-grey);
  border-radius: 0 0 20px 20px;
  border: 2px solid var(--warm-beige);
  border-top: none;
}

.view button {
  text-decoration: underline;
  color: var(--white);
  font-size: 18px;
}

.open-icon {
  font-size: 1.25rem;
  color: #000;
  transform: translateY(3px);
  margin-left: 3px;
  z-index: 1;
}

.modal-open {
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  grid-area: 1 / 2 / span 1 / span 1;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 2;
}

.card:hover > .card-img {
  animation: hovereffect 0.6s ease 1 normal forwards;
}

@keyframes hovereffect {
  0% {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 20px;
  }

  100% {
    width: 50%;
    height: 50%;
    top: 50%;
    border-radius: 0 0 0 20px;
  }
}

/* MODAL */

body.prevent-background-scroll {
  min-height: 100dvh;
  overflow-y: hidden;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 20;
  animation: openModal 0.5s ease 1 normal;
}

@keyframes openModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-slate-grey);
  width: 50%;
  border: 4px solid var(--warm-beige);
  border-radius: 14px;
  z-index: 30;
}

.modal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 15px 20px 10px;
  font-size: 1.2rem;
  color: var(--white);
}

.modal-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white);
}

.modal-header .modal-close {
  color: var(--white);
  /* background: #efefef; */
  border: 0;
  outline: 0;
  transform: translateY(3px);
  background-color: transparent;
  cursor: pointer;
}

.close-icon {
  font-size: 1.6rem;
  color: var(--white);
}

.close-icon:hover{
  animation: rotate 160ms linear;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 10px;
  height: 70vh;
  overflow-y: auto;
  font-family: "Nunito", sans-serif;
}

.modal-one {
  padding: 70px 50px 10px;
}

.modal-body > img {
  max-width: 100%;
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.modal-body li {
  color: var(--white);
  font-size: 18px;
  font-family: "Red Hat Display", sans-serif;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px;
}

.modal-footer .button {
  padding: 14px 24px;
  color: var(--white);
  background-color: var(--very-dark-grey); 
  border: 1px solid var(--warm-beige);
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold;
  /* transform: translate(-50%, -50%); */
  transition: all .35s;
}

.modal-footer .button:hover {
  /* color: var(--white); */
  border-radius: 30%;
  cursor: pointer;
  /* border: none; */
}

/* Footer */
footer {
  color: var(--white);
  /* justify-content: center; */
  border-top: 2px solid var(--warm-grey);
}

.copyright {
  font-size: 18px;
  text-align: center;
  height: 20px;
  width: 230px;
  margin: 1.5rem;
}

footer section {
  display: flex;
  justify-content: center;
}

footer aside {
  margin: 1rem 3rem;
  font-family: "Cal Sans", sans-serif;
  font-size: 26px;
}

footer .twitter {
  margin-right: 10px;
}

footer aside box-icon {
  margin-right: 0.5rem;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
}

footer a {
  text-decoration: none;
  color: var(--white);
  width: 130px;
  display: flex;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

footer a:hover {
  color: var(--white);
  box-shadow: inset 200px 0 0 0 var(--dark-slate-grey);
}